body {
	padding-top: 110px;
}

h1,h2,h3 {
	font-family: 'Sora', sans-serif;
	font-weight: 600;
	letter-spacing: 1.5px;
	line-height: 40px;
}

h1 {
	font-size: 2.7rem;
}

.display-4 {
	font-size: 2.7rem;
}

.articles h3 {
	text-transform: uppercase;
}

/*Start Media*/

@media only  screen and (min-width: 992px) {

	.welcome,
	.article {
		position: relative;
	}

	.welcome .btn-danger,
	.article .btn-success {
		position: absolute;
		bottom: 0px;
	}
}
