body {
	padding-top: 110px;
}

h1,h2,h3 {
	font-family: serif;
	font-weight: 600;
	letter-spacing: 1.5px;
	line-height: 40px;
}

h1 {
	font-size: 2.7rem;
}

.display-4 {
    font-size: 2.4rem;
}

.articles h3 {
	/*text-transform: uppercase;*/
}

/*Start Media*/

@media only  screen and (min-width: 992px) {

	.welcome,
	.article {
		position: relative;
	}

	.welcome .btn-danger,
	.article .btn-success {
		position: absolute;
		bottom: 0px;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 1.5rem;
	    padding-left: .5rem;
	}
}

.btn {
	text-align: left;
}

.modal-footer {
	justify-content: flex-start;
}

/*Start to top button*/

button.toTop {
	position: fixed;
	bottom: 0px;
	right: 10px;
	background-color: transparent;
	border: none;
	padding: 10px;
	z-index: 9999;
	color: grey;
}
button.toTop:hover {
	color: #007bff;
	border-color: #007bff;
	outline-color: #007bff;
}

/*End to top button*/